mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's Profile Image")
        .textareaContainer
            textarea#postTextarea(placeholder="What's Happening")
            .buttonsContainer
                button#submitPostButton(disabled="") Post